# Copy file này thành .env rồi chỉnh giá trị theo môi trường của bạn
VITE_API_URL=https://jsonplaceholder.typicode.com
VITE_OPLEARN_API_URL=http://localhost:8088/api/v1
VITE_APP_NAME=React Base
VITE_GOOGLE_CLIENT_ID=772102149835-vgiaigbr51untf545i1n8a4rsmv7r0tb.apps.googleusercontent.com

