# Backend API URL
VITE_API_URL=http://localhost:8088/api/v1
VITE_OPLEARN_API_URL=http://localhost:8088/api/v1

# Application Name
VITE_APP_NAME=React Base

# Google OAuth Client ID (Optional)
VITE_GOOGLE_CLIENT_ID=
